*.iml
.gradle
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.pro
/app/src/androidTest/
/app/src/test/
app/proguard-rules.pro
gradle/wrapper/gradle-wrapper.jar
gradlew
/local.properties
gradlew.bat
/media/src/androidTest/java/com/pet/media/
/media/src/test/java/com/pet/media/
/media/proguard-rules.pro
